/* LoginButton.css */
.btn {
    height: 3.2rem;
    width: 27rem;
    margin: 15px 15px 0 15px;
    padding: 10px;
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    border-radius: 50px;
    background: white;
    color: black;
    font-weight: 700;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .btn:hover {
    transform: translateY(-0.4rem);
  }