@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0; /* Cor de fundo de fallback */
}

.formUser {
  width: 100%;
  padding: 20px;
  background: transparent; /* Fundo transparente */
  backdrop-filter: blur(10px); /* Efeito de desfoque */
  border-radius: 25px;
  box-shadow: 0 4px 8px 10px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.formUser h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
  font-weight: 700;
  color: white;
  margin-bottom: 20px;
  text-align: center;
}

.formUser ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.formUser form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formUser .user-signup,
.formUser .email-login,
.formUser .password-signup {
  align-items: center;
  margin-bottom: 15px;
  
}

.formUser .inpt {
  width: 120%;
  padding: 15px 10px;
  font-size: 1.4rem;
  border-radius: 15px;
  margin: 2px 0;
  background: transparent;
  outline: none;
  color: white;
  border: 1px solid white;
  transition: 0.3s ease;
  transform: translateX(-10%);

}

.formUser .inpt:focus {
  border-color: blueviolet;
}

.formUser i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: white;
  transition: 0.3s ease;
}

.formUser .fa-eye,
.formUser .fa-eye-slash {
  cursor: pointer;
}

.formUser i:hover {
  color: blueviolet;
}
button{
  transform: translateY(-30%);
}
