.card-stock {
    display: flex;
    flex-direction: column;
    background-color: rgba(81, 0, 185, 0.63);
    width: 100px;
    height: 160px;
    min-width: 100px;
    box-shadow: 3px 3px 3px rgba(251, 111, 249, 0.39);
    border-radius: 8px;
    gap: 16px;
    padding: 6px;
}

.stock-symbol {
    font-size: 24px;
    text-align: center;
    font-weight: 700;
}

.stock-name {
    font-size: 16px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
}

.stock-quantity{
    font-size: 16px;
    text-align: center;
}

.stock-value {
    font-size: 16px;
    text-align: center;
    font-weight: 700;
}

.remove-icon {
    align-self: center;
    cursor: pointer;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    right: 0;
}

.teste{
    position: relative;
    width: 125px;
    height: 160px;
}