@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.typewriter {
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
  margin-bottom: 30px;
  font-weight: 700;
}




.box-login,
.box-signup {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.box-login .inpt,
.box-signup .inpt {
  width: 27rem;
  padding: 15px 10px;
  font-size: 1.4rem;
  border-radius: 15px;
  margin: 5px 0;
  background: transparent;
  outline: none;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.box-login {
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  position: absolute;
}

.box-signup {
  color: white;
  transform: rotateY(180deg);
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  text-align: center;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  backdrop-filter: blur(10px);
  position: absolute;
  top: -30px;
}

.box-login ul,
.box-signup ul {
  padding: 10px;
}

.forget {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border-radius: 25px;
  box-shadow: 0 4px 8px 10px rgba(0, 0, 0, 0.2);
}

.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.register-link {
  display: contents;
  flex-direction: row;
}

form a:active {
  color: blueviolet;
}

.box-login .register-link,
.box-signup .register-link {
  font-size: 1rem;
  padding-bottom: 15px;
  font-style: italic;
}

.register-link a {
  color: blueviolet;
  transition: 0.5s ease;
}

.register-link a:active {
  color: blue;
}

.register-link a:hover {
  color: red;
  transform: scale(1.5);
}

.box-login form a,
.box-signup form a {
  text-decoration: none;
  color: white;
  padding-left: 150px;
  font-size: 1rem;
}

label {
  font-size: 1rem;
  cursor: pointer;
}
input::placeholder {
  color: white;
  font-size: 1.2rem;
}


.input-field i {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: white;
}




.box-login h1 {
letter-spacing: 2px;
}

.box-signup h1 {
padding-top: 5px;
letter-spacing: 2px;
}

.box-login ul {
padding: 26px;
}

.box-signup ul {
padding: 10px;
}

.box-login .inpt {
width: 27rem;
padding: 15px 10px;
font-size: 1.4rem;
border-radius: 15px;
margin: 15px;
background: transparent;
outline: none;
}


.email-login i {
  /* content: "\eee1"; */
  position: absolute;
  top: 1.89rem;
  right: 2.1rem;
  cursor: pointer;
}

.password-login i {
  position: absolute;
  right: 3.5rem;
  top: 17.4rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.user-signup i {
  position: absolute;
  right: 1.6rem;
  top: 6.5rem;
  cursor: pointer;
}

.email-signup i {
  top: 9.1rem;
  position: absolute;
  right: 3.6rem;
  cursor: pointer;
}

.password-signup i {
  top: 1.3rem;
  position: absolute;
  right: 1.4rem;
  cursor: pointer;
  transition: 0.3s ease;
}
