/* LoginForm.css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-image: url("assets/bg.png");
  background-repeat: no-repeat;
  color: white;
  background-size: fixed;
}
/* LoginForm.css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-image: url("assets/bg.png");
  background-repeat: no-repeat;
  color: white;
  background-size: fixed;
}

.left-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 10%;
  margin-right: 50px;
}

.left-column h1,
.left-column h2 {
  font-family: 'Lemon Milk', sans-serif;
  
}

.left-column h1 {
  color: #FB81F9;
  font-size: 2.5rem;
}

.left-column h2 {
  
  font-size: 1.7rem;
}

.box {
  background-color: transparent;
  width: 530px;
  height: 500px;
  perspective: 1000px;
  position: absolute;
  top: 50%;
  right: 4%;
  transform: translate(0, -50%);
}