@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.home {
    display: flex;
    flex-direction: column;
    background-color: #170133;
    width: 100vw;
    height: 100vh;
    color: black;
}

.container-home {
    padding: 88px;
}

.container-carteira {
    color: white;
    display: flex;
    flex-direction: column;
    font-family: 'popins', sans-serif;
    font-style: italic;
    font-size: 32px;
    font-weight: 500;
}

.container-carteira {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.container-stocks {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #170133;
    box-shadow: 0 0 15px rgba(112, 0, 255, 1);
    border-radius: 16px;
    padding: 24px 24px;
}

.label-stocks {
    background: linear-gradient(#FA00FF, 55%, #FFFFFF);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    height: fit-content;
}

.cards-row {
    display: flex;
    flex-direction: row;
    height: 180px;
    gap: 16px;
    overflow-x: auto;
    /* Habilita scroll horizontal */
    white-space: nowrap;
    /* Impede quebra de linha */
}

.cards-row::-webkit-scrollbar {
    display: none;
    /* Esconde a barra de rolagem nos navegadores que usam Chromium */
}